
* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.cf {
    clear: both;
    display: table;
}

//=============================================================||
//=======   CONTAINER || BASE-STRUCTURE || GENERAL  ========/
//=============================================================||

#Container_Page {
    height: 100%;
    margin: auto;
    min-width: 80%;
    position: relative;
    left: 0;

    -moz-transition: 1s all;
    -o-transition: 1s all;
    -webkit-transition: 1s all;
    transition: 1s all;
    border: 1px solid #00ffff;
}

.Container_ContentBody_Nav {
    border: 1px solid orange;
    height: 70px;
}

.Container_ContentBody {
    border: 1px solid yellow;
    width: 100%;
    min-height: 80vh;
}

.Container_Footer {
    border: 1px solid purple;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 48px;
}


//=============================================================||
//=======   CONTAINER || PAGE || CUSTOM  ========/
//=============================================================||



//=============================================================||
//=======   CONTAINER || LEFT-NAVIGATION ||  CUSTOM  ========/
//=============================================================||

.Container_LeftNav {
    border: 1px solid #000000;
    min-height: 100vh;
    width: 20%;
    position: fixed;
    left: -20%;
    top: 0;
    -moz-transition: 1s all;
    -o-transition: 1s all;
    -webkit-transition: 1s all;
    transition: 1s all;

    .Container_LeftNav_Avatar {
        border: 1px solid blue;
        width: 100%;
        height: 214px;
    }
}

#Container_ExpandControlLabel {
    position: absolute;
    left: 0;
    z-index: 6;
    min-height: 100%;
    width: 2%;
    text-align: center;
    line-height: 100vh;

    -moz-transition: 1s all;
    -o-transition: 1s all;
    -webkit-transition: 1s all;
    transition: 1s all;
}

#Container_ExpandControlLabel:hover {
    background-color: red;
    -moz-transition: 1s all;
    -o-transition: 1s all;
    -webkit-transition: 1s all;
    transition: 1s all;
}

#Container_ExpandControl {
    position: absolute;
    left: 0;
    z-index: 5;
    width: 44px;
    visibility: hidden;
}

#Container_ExpandControl:checked ~ #Container_ExpandControlLabel {
    background-color: red;
    left: 0%;
    -moz-transition: 1s all;
    -o-transition: 1s all;
    -webkit-transition: 1s all;
    transition: 1s all;
}

#Container_ExpandControl:checked ~ #Container_Page {
    left: 22%;
    z-index: 5;
    -moz-transition: 1s all;
    -o-transition: 1s all;
    -webkit-transition: 1s all;
    transition: 1s all;

    .Container_LeftNav {
        left: 2%;
        z-index: 5;
        -moz-transition: 1s all;
        -o-transition: 1s all;
        -webkit-transition: 1s all;
        transition: 1s all;
    }
}


//=============================================================||
//=======   CONTAINER || HEADER ||  CUSTOM  ========/
//=============================================================||

.Container_Header {
    position: relative;
    border: 1px solid red;
    background-color: rgba(10, 9, 9, 0.30);
    width: 100%;
    height: 144px;

    .Header_Banner {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: inherit;
        width: inherit;
        background: url('Images/lottery-banner.jpg') center;
    }
}


//=============================================================||
//=======   CONTAINER || CONTENT-BODY ||  CUSTOM  ========/
//=============================================================||

.IContainer_ContentBody_Nav {
    display: block;
    position: relative;
    min-height: inherit;
    font-size: 21px;

    .ILotteryGame_DropDownList {
        display: block;
        float: left;
        border: 1px solid #000;

        label {
            padding: 0 1em;
            line-height: 70px;
        }

        select {
            height: 27px;
            width: 220px;
        }
    }

    .ILotteryGame_AddButton {
        display: block;
        float: left;
        padding-left: 21px;
        min-height: inherit;

        span {
            position: relative;
            display: block;
            overflow: hidden;
            min-height: 48px;
            margin-top: 12px;
            width: 180px;
            text-align: center;
            font-size: 18px;
            text-transform: uppercase;
            border: 1px solid #000;

            label {
                position: absolute;
                top: 0;
                left: 0;
                width: 180px;
                line-height: 52px;
                display: inline-block;
                -moz-transition: all 1.5s;
                -o-transition: all 1.5s;
                -webkit-transition: all 1.5s;
                transition: all 1.5s;
            }

            input {
                position: absolute;
                top: -120px;
                left: -4px;
                width: 184px;
                height: 80px;

                color: #eee;
                background-color: red;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                -webkit-transition: all .5s;
                transition: all .5s;
                padding: 18px;
                font-size: 18px;
                text-transform: uppercase;
            }
        }

        span:hover {
            input {
                top: -15px;
                left: -4px;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                -webkit-transition: all .5s;
                transition: all .5s;
            }

            label {
                color: transparent;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                -webkit-transition: all .5s;
                transition: all .5s;
            }
        }
    }
}


//=============================================================||
//=======   CONTAINER || CONTENT-BODY-FORM ||  CUSTOM  ========/
//=============================================================||

.Container_ContentBody_Form {
    border: 1px solid green;
    width: 27%;
    min-height: inherit;
    float: left;
    display: block;
}


//=============================================================||
//=======   CONTAINER || CONTENT-BODY-VIEW ||  CUSTOM  ========/
//=============================================================||

.Container_ContentBody_ListView {
    border: 1px solid blue;
    width: 73%;
    min-height: inherit;
    float: right;
}



/*.containerL1 { border: 1px solid red;  }
.containerL2 { border: 1px solid orange; }
.containerL3 { border: 1px solid yellow; }
.containerL4 { border: 1px solid green; }
.containerL5 { border: 1px solid blue; }
.containerL6 { border: 1px solid purple; }*/

