
* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

body {
    overflow-x: hidden;
    position: relative;
    top: 0;
    left: 0;
}

.cf {
    clear: both;
    display: table;
}

a {
    color: coral;
    text-decoration: none;
}

//=============================================================||
//=======   CONTAINER || BASE-STRUCTURE || GENERAL  ========/
//=============================================================||

#Container_Page {
    height: 100%;
    margin: auto;
    min-width: 100%;
    min-height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    //background-color: rgba(10, 9, 9, 0.30);

    -moz-transition: 1s all;
    -o-transition: 1s all;
    -webkit-transition: 1s all;
    transition: 1s all;
    //border: 1px solid #00ffff;
}

.Container_ContentBody_Nav {
    border-bottom: 3px solid #000;
    height: 70px;
    width: 100%;
    /*min-width: 640px;*/
}

.Container_ContentBody {
    width: 100vw;

    height: inherit;
    min-width: inherit;
}

.Container_Footer {
    border: 1px solid purple;
    background-color: #000;

    position: fixed;
    bottom: 0;

    width: 100%;
    height: 48px;
}



//=============================================================||
//=======   CONTAINER || PAGE || CUSTOM  ========/
//=============================================================||



//=============================================================||
//=======   CONTAINER || LEFT-NAVIGATION ||  CUSTOM  ========/
//=============================================================||

.Container_LeftNav {
    border-right: 1px solid #000;
    background-color: rgba(10, 9, 9, 0.70);

    box-shadow:  rgba(10, 9, 9, 0.30) 4px 6px 6px;
    z-index: 10;

    min-height: 100vh;
    min-width: 230px;

    width: 240px;
    position: fixed;
    left: -240px;
    top: 0;
    z-index: 100;

    -moz-transition: 1s all;
    -o-transition: 1s all;
    -webkit-transition: 1s all;
    transition: 1s all;

    .Container_LeftNav_Avatar {
        border-bottom: 3px solid #000;
        width: 100%;
        height: 214px;
    }

    ul {
        //margin-top: 21px;
    }

    li {
        border-top: 3px solid red;
        border-bottom: 3px solid red;
        list-style: none;
        height: 80px;

        text-align: center;
        word-break: break-word;
        line-height: 3em;

        padding: 1em 0;
        box-shadow: 1px 3px 3px rgba(10, 9, 9, 0.30);
        transition: 1s all;
    }

    li:nth-child(3),
    li:nth-child(2),
    li:nth-child(1) {
        border-bottom: none;
    }


    a {
        color: #fff;
        padding-left: 21px;
        font-size: 18px;
        text-shadow: 3px 5px 5px rgba(10, 9, 9, 0.30);
    }

    li:hover, li:visited {
        color: rgba(10, 9, 9, 0.30);
        background-color: red;
        transition: 1s all;
    }

}

#Container_ExpandControlLabel {
    position: fixed;
    left: 0;
    z-index: 20;
    min-height: 100%;
    width: 2%;
    text-align: center;
    line-height: 100vh;

    -moz-transition: 1s all;
    -o-transition: 1s all;
    -webkit-transition: 1s all;
    transition: 1s all;
}

#Container_ExpandControlLabel:hover {
    width: 2%;
    background-color: coral;
    box-shadow: 3px 5px 5px rgba(10, 9, 9, 0.30);

    -moz-transition: 1s all;
    -o-transition: 1s all;
    -webkit-transition: 1s all;
    transition: 1s all;
}

#Container_ExpandControl {
    position: absolute;
    left: 0;
    z-index: 20;
    width: 44px;
    visibility: hidden;
}

#Container_ExpandControl:checked ~ #Container_ExpandControlLabel {
    //background-color:  coral;
    left: 0;
    z-index: 20;
    -moz-transition: 1s all;
    -o-transition: 1s all;
    -webkit-transition: 1s all;
    transition: 1s all;
}

#Container_ExpandControl:checked ~ #Container_Page {
    left: 227px;
    z-index: 10;
    -moz-transition: 1s all;
    -o-transition: 1s all;
    -webkit-transition: 1s all;
    transition: 1s all;

    .Container_LeftNav {
        left: -12px;
        z-index: 20;
        -moz-transition: 1s all;
        -o-transition: 1s all;
        -webkit-transition: 1s all;
        transition: 1s all;
    }
}


//=============================================================||
//=======   CONTAINER || HEADER ||  CUSTOM  ========/
//=============================================================||

.Container_Header {
    position: relative;
    background-color: rgba(10, 9, 9, 0.10);
    box-shadow: 2px 3px 3px rgba(10, 9, 9, 0.30) inset;
    width: 100%;
    height: 144px;

    .Header_Banner {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: inherit;
        width: inherit;
        background: url('Images/lottery-banner.jpg') center;
    }

    .logo {
        position: absolute;
        top: -5%;
        text-align: left;
        max-width: 440px;
        z-index: 10;
    }

    span {
        position: absolute;
        left: 140px;
        top: 45%;
        min-width: 680px;

        display: inline-block;
        vertical-align: middle;
        /*text-align: center;*/

        font-size: 3.5em;
        font-variant: small-caps;
        color: red;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: 5px solid red;
        box-shadow: 3px 5px 5px rgba(10, 9, 9, 0.30);
        text-shadow: 3px 5px 5px rgba(10, 9, 9, 0.30);

        padding: 0 32px 0 32px;
    }

}


//=============================================================||
//=======   CONTAINER || CONTENT-BODY ||  CUSTOM  ========/
//=============================================================||

.IContainer_ContentBody_Nav {
    display: block;
    //border: 1px solid orange;
    position: relative;
    min-width: 680px;
    font-size: 21px;

    .ILotteryGame_DropDownList {
        display: inline-block;
        vertical-align: top;

        label {
            display: inline-block;
            padding: 0 1em;
            line-height: 70px;
        }

        select {
            display: inline-block;
            height: 34px;
            width: 220px;

            font-size: 18px;
        }
    }

    .ILotteryGame_AddButton {
        display: inline-block;
        padding-top: 18px;
        padding-left: 21px;
        min-height: inherit;

        span {
            position: relative;
            display: block;
            overflow: hidden;
            min-height: 36px;

            width: 180px;
            text-align: center;

            font-size: 18px;
            text-transform: uppercase;
            border: 1px solid #000;

            label {
                position: absolute;
                top: 0;
                left: 0;
                width: 180px;
                line-height: 36px;
                display: inline-block;
                -moz-transition: all 1.5s;
                -o-transition: all 1.5s;
                -webkit-transition: all 1.5s;
                transition: all 1.5s;
            }

            input {
                position: absolute;
                top: -120px;
                left: -4px;
                width: 184px;
                height: 80px;

                color: #eee;
                background-color: red;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                -webkit-transition: all .5s;
                transition: all .5s;
                padding: 16px;
                font-size: 18px;
                text-transform: uppercase;
            }
        }

        span:hover {
            input {
                font-size: 21px;
                top: -21px;
                left: -4px;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                -webkit-transition: all .5s;
                transition: all .5s;
            }

            label {
                color: transparent;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                -webkit-transition: all .5s;
                transition: all .5s;
            }
        }
    }
}


//=============================================================||
//=======   CONTAINER || CONTENT-BODY-FORM ||  CUSTOM  ========/
//=============================================================||

.Container_ContentBody_Form {

    max-width: 27%;
    width: 320px;
    height: 100%;

    position: relative;
    display: inline-block;

    vertical-align: top;
    padding-left: 2.5em;
    padding-top: 2.25em;

    //==== START || VIEW BUTTON CONTROL


    //==== END || VIEW BUTTON CONTROL

    .editCol {
        min-width: 200px;
    }


    label, input, select {
        display: block;
        font-size: 18px;
        margin: .5em 0 .5em;
    }

    label ~ input, select {
        height: 27px;
        width: 80%;
        max-width: 220px;
    }

    input[type="checkbox"] {
        height: 24px;
        width: 24px;
    }

    input[type="number"] {
        width: 44px;
        height: 27px;
        text-align: center;
        scrollbar-arrow-color: transparent;
    }


    input[type="Submit"] {
        position: relative;
        margin: 16px 0;
        /*top: 65vh;
        right: 40px;*/

        padding: 8px;
        min-width: 140px;
        height: 44px;
        max-width: 50%;

        background-color: transparent;
        border: 3px solid red;

        font-size: 18px;
        text-transform: uppercase;

        transition: 1s all;
    }

    input[type="Submit"]:hover {
        border: 6px solid red;
        transition: .5s all;
    }

}


//=============================================================||
//=======   CONTAINER || CONTENT-BODY-VIEW ||  CUSTOM  ========/
//=============================================================||

.Container_ContentBody_ListView {
    border-left: 3px solid #000;
    width: 70vw;
    height: 100%;

    min-height: inherit;

    overflow-y: auto;
    overflow-x: hidden;
    

    display: inline-block;
    padding: 12px 8px;
    margin-bottom: 70px;

    table {
        width: 100%;

        margin-left: 2%;
        text-align: center;
        border-collapse: collapse;

        th, td {
            word-wrap: break-word;
            min-width: 10%;

            text-align: center;
            font-size: 18px;
            padding: 6px 0;
        }

        tr:nth-of-type(2n+1) {
            background-color: #fff;
        }

        tr:nth-of-type(2n+2) {
            background-color: rgba(165, 42, 42, 0.19);
        }

        input {
            color: #fff;
            background-color: red;

            font-size: 18px;
            padding: 4px;
        }
    }
}



/*.containerL1 { border: 1px solid red;  }
.containerL2 { border: 1px solid orange; }
.containerL3 { border: 1px solid yellow; }
.containerL4 { border: 1px solid green; }
.containerL5 { border: 1px solid blue; }
.containerL6 { border: 1px solid purple; }*/

