* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Arial Narrow', Arial, sans-serif;
}
body {
  overflow-x: hidden;
  position: relative;
  top: 0;
  left: 0;
}
.cf {
  clear: both;
  display: table;
}
a {
  text-decoration: none;
}
#Container_Page {
  height: 100%;
  margin: auto;
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  -moz-transition: 1s all;
  -o-transition: 1s all;
  -webkit-transition: 1s all;
  transition: 1s all;
}
.Container_ContentBody_Nav {
  border-bottom: 3px solid #000;
  height: 70px;
  width: 100%;
  /*min-width: 640px;*/
}
.Container_ContentBody {
  background: rgba(10, 9, 9, 0.3);
  width: 100%;
  height: inherit;
  min-width: inherit;
}
.Container_Footer {
  border: 1px solid purple;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
}
.Container_LeftNav {
  border-right: 1px solid #000;
  box-shadow: rgba(10, 9, 9, 0.3) 1px 3px 3px;
  z-index: 10;
  min-height: 100vh;
  width: 20%;
  position: fixed;
  left: -20%;
  top: 0;
  -moz-transition: 1s all;
  -o-transition: 1s all;
  -webkit-transition: 1s all;
  transition: 1s all;
}
.Container_LeftNav .Container_LeftNav_Avatar {
  border-bottom: 3px solid #000;
  width: 100%;
  height: 214px;
}
.Container_LeftNav li {
  list-style: none;
  min-height: 34px;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: 1s all;
}
.Container_LeftNav a {
  padding-left: 21px;
  font-size: 18px;
}
.Container_LeftNav li:hover,
.Container_LeftNav li:visited {
  color: rgba(10, 9, 9, 0.3);
  background-color: red;
  transition: 1s all;
}
#Container_ExpandControlLabel {
  position: absolute;
  left: 0;
  z-index: 20;
  min-height: 100%;
  width: 2%;
  text-align: center;
  line-height: 100vh;
  -moz-transition: 1s all;
  -o-transition: 1s all;
  -webkit-transition: 1s all;
  transition: 1s all;
}
#Container_ExpandControlLabel:hover {
  background-color: rgba(10, 9, 9, 0.3);
  -moz-transition: 1s all;
  -o-transition: 1s all;
  -webkit-transition: 1s all;
  transition: 1s all;
}
#Container_ExpandControl {
  position: absolute;
  left: 0;
  z-index: 20;
  width: 44px;
  visibility: hidden;
}
#Container_ExpandControl:checked ~ #Container_ExpandControlLabel {
  background-color: rgba(10, 9, 9, 0.3);
  left: 20%;
  z-index: 20;
  -moz-transition: 1s all;
  -o-transition: 1s all;
  -webkit-transition: 1s all;
  transition: 1s all;
}
#Container_ExpandControl:checked ~ #Container_Page {
  left: 20%;
  z-index: 10;
  -moz-transition: 1s all;
  -o-transition: 1s all;
  -webkit-transition: 1s all;
  transition: 1s all;
}
#Container_ExpandControl:checked ~ #Container_Page .Container_LeftNav {
  left: 0%;
  z-index: 20;
  -moz-transition: 1s all;
  -o-transition: 1s all;
  -webkit-transition: 1s all;
  transition: 1s all;
}
.Container_Header {
  position: relative;
  background-color: rgba(10, 9, 9, 0.3);
  box-shadow: 2px 3px 3px rgba(10, 9, 9, 0.3) inset;
  width: 100%;
  height: 144px;
}
.Container_Header .Header_Banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: inherit;
  width: inherit;
  background: url('Images/lottery-banner.jpg') center;
}
.IContainer_ContentBody_Nav {
  display: block;
  position: relative;
  min-width: 680px;
  font-size: 21px;
}
.IContainer_ContentBody_Nav .ILotteryGame_DropDownList {
  display: inline-block;
  vertical-align: top;
}
.IContainer_ContentBody_Nav .ILotteryGame_DropDownList label {
  display: inline-block;
  padding: 0 1em;
  line-height: 70px;
}
.IContainer_ContentBody_Nav .ILotteryGame_DropDownList select {
  display: inline-block;
  height: 34px;
  width: 220px;
  font-size: 18px;
}
.IContainer_ContentBody_Nav .ILotteryGame_AddButton {
  display: inline-block;
  padding-top: 18px;
  padding-left: 21px;
  min-height: inherit;
}
.IContainer_ContentBody_Nav .ILotteryGame_AddButton span {
  position: relative;
  display: block;
  overflow: hidden;
  min-height: 36px;
  width: 180px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid #000;
}
.IContainer_ContentBody_Nav .ILotteryGame_AddButton span label {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  line-height: 36px;
  display: inline-block;
  -moz-transition: all 1.5s;
  -o-transition: all 1.5s;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}
.IContainer_ContentBody_Nav .ILotteryGame_AddButton span input {
  position: absolute;
  top: -120px;
  left: -4px;
  width: 184px;
  height: 80px;
  color: #eee;
  background-color: red;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  padding: 16px;
  font-size: 18px;
  text-transform: uppercase;
}
.IContainer_ContentBody_Nav .ILotteryGame_AddButton span:hover input {
  font-size: 21px;
  top: -21px;
  left: -4px;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.IContainer_ContentBody_Nav .ILotteryGame_AddButton span:hover label {
  color: transparent;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.Container_ContentBody_Form {
  max-width: 27%;
  width: 320px;
  height: 100%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 2.5em;
  padding-top: 1.3em;
}
.Container_ContentBody_Form .editCol {
  min-width: 200px;
}
.Container_ContentBody_Form label,
.Container_ContentBody_Form input {
  display: block;
  font-size: 18px;
  margin: .5em 0 .5em;
}
.Container_ContentBody_Form label ~ input {
  height: 27px;
  width: 80%;
  max-width: 220px;
}
.Container_ContentBody_Form input[type="checkbox"] {
  height: 24px;
  width: 24px;
}
.Container_ContentBody_Form input[type="number"] {
  width: 44px;
  height: 27px;
  text-align: center;
  scrollbar-arrow-color: transparent;
}
.Container_ContentBody_Form input[type="Submit"] {
  position: absolute;
  top: 65vh;
  right: 40px;
  padding: 8px;
  min-width: 144px;
  max-width: 50%;
  background-color: transparent;
  border: 4px solid #000;
  transition: 1s all;
}
.Container_ContentBody_Form input[type="Submit"]:hover {
  background-color: red;
  border: 4px solid rgba(255, 0, 0, 0.73);
  transition: 1s all;
}
.Container_ContentBody_ListView {
  border-left: 3px solid #000;
  width: 70%;
  min-height: inherit;
  display: inline-block;
  padding: 12px 8px;
}
.Container_ContentBody_ListView table {
  width: 112%;
  margin-left: 2%;
  text-align: center;
  min-width: 700px;
  border-collapse: collapse;
}
.Container_ContentBody_ListView table th,
.Container_ContentBody_ListView table td {
  word-wrap: break-word;
  min-width: 10%;
  text-align: center;
  font-size: 18px;
  padding: 6px 0;
}
.Container_ContentBody_ListView table tr:nth-of-type(2n+1) {
  background-color: #fff;
}
.Container_ContentBody_ListView table tr:nth-of-type(2n+2) {
  background-color: rgba(165, 42, 42, 0.19);
}
.Container_ContentBody_ListView table input {
  color: #fff;
  background-color: red;
  font-size: 18px;
  padding: 4px;
}
/*.containerL1 { border: 1px solid red;  }
.containerL2 { border: 1px solid orange; }
.containerL3 { border: 1px solid yellow; }
.containerL4 { border: 1px solid green; }
.containerL5 { border: 1px solid blue; }
.containerL6 { border: 1px solid purple; }*/